body{
background: url(Images/background.png);
clear: both;
}

#Contenedor{
	width: 1000px;
	height: 850px;
	background: #ACAE9F;
	border-radius: 10px;
	margin:auto;
	padding:5px;
	border-left: 5px solid #333;
	border-right: 5px solid #333;
	box-shadow: 0px 20px 20px 0px #120E3D;
}

.Lefter{
	background:#C2C5BA;
	height: 830px;
	width: 200px;
	float: left;
	padding:5px; 
	border-top-left-radius: 5px;	
	border-bottom-left-radius: 5px;	
}
.Righter{
	background:#272822;
	height: 810px;
	width: 755px;
	float: left;
	padding:15px;
	border-top-right-radius: 5px;	
	border-bottom-right-radius: 5px;	
}
.Clear{
clear: both;
}
.home{
	background:url(Images/home.jpg);	
	height: 38px;
	width: 50px;
	float: left;
}


.Adds{
	background:#00008B;
	border-radius: 8px;
	padding-left: 10px;
	height: 30px;
	font-size: 20px;
	color: #FFFFFF;
	padding-top: 5px;
	font-family:Arial,sans-serif;
}

.test{
	background-color: #EBE9EA;
    border: 1px solid #D2D2D2;
    border-radius: 8px 8px 8px 8px;

    min-height: 225px;
    margin-bottom: 100px;
    margin-right: 100px;
    overflow: hidden;
    text-align: center;
    width: 200px;
}


.a1{
	background: #313A93;
	clear:both;
	border-top-right-radius: 5px;	
	border-bottom-right-radius: 5px;	
}


.u1{
	background: #D6D1D8;
	width:755px;
	height: 100px;
	margin:auto;

	border-top-right-radius: 5px;	
}

.u2{

	background: #444480;
	width:755px;
	height: 500px;
}
.u3{

	background: #008080;
	width:755px;
	height: 200px;
	border-bottom-right-radius: 5px;	
}

.p1{
	float: left;
}
.p2{
	float: left;
}
.p3{
	float: left;
}
.t1{
	background: #37B80C;
float: left;
	width:500px;
	height: 500px;
}
.t2{
	background: #B6ACDD;
	float: left;
	width:255px;
	height: 500px;
}
.y1{
	background: #545770;
	width:500px;
	height: 150px;
}
.y2{

	background: #ABC7DE;
	float: left;
	width:500px;
	height: 350px;
}

.o1{

	background: #17125F;
	float: left;
	width:250px;
	height: 150px;
}
.o2{

	background: #237D0D;
	float: left;
	width:250px;
	height: 150px;
}
.alignleft{
	float: left;
}
.texto{

	text-decoration: none;
	text-align: left;
	color: #B2B2B2;
	background-color: #1B0679;
font-size: 25px;
	border-left: 2px solid #333;
 	font-family: "Arial Narrow";
}
.titulo{

font-size: 20px;
	border-left: 10px solid #333;
 	font-family: "Arial black";
 	background-color: #92C4D3;
}
.blog-image{
	float:left;
	margin:2px 5px 5px 0;
}
.item-title{
	border-radius: 1px; 
	background: #00CED1;
	font-family:Arial,sans-serif;
}

.menu{
	background:transparent;
    list-style:none;
	padding:0px;
	margin:0px;
	border-radius: 1px;
	color: #3C3A33; 
}
.menu li{
	margin:0px;
	padding:0px;
	float:left;
	position:relative;
	box-shadow: 2px 2px 4px 1px #000;	
}
.menu li a{
	display: block;
	width: 269px;
	height: 24px;
	padding: 6px;
	line-height:30px;
	text-decoration: none;
	text-align: center;
	color: #B2B2B2;
	background-color: #1B0679;
	position: relative;
	border-left: 2px solid #333;
 
}
.menu li a:hover{
	color:#CF3;
	background-color:#603;
}
.menu ul{
    position:absolute;
	left:10px;
	top:36px;
	margin:0px;
	list-style:none;
	padding:0px;
	opacity:0;
	transition:opacity .35s ease .2s;
	-webkit-transition:opacity .35s ease .2s;
	-moz-transition:opacity .35s ease .2s;
	-o-transition:opacity .35s ease .2s;
	visibility:hidden;	
}
.menu ul li a{
	border-bottom:2px solid #333;
	border-left:none;
	display:block;
	text-align:left;
}
.menu li:hover ul{
    opacity:1;
	visibility:visible;
}




.nav ul li a{
	border-bottom:2px solid #333;
	border-left:none;
	display:block;
	text-align:left;
}
.nav li a{
	display: block;
	width: 170px;
	height: 25px;
	padding: 6px;
	line-height:30px;
	text-decoration: none;
	text-align: center;
	color: #FFF;
	background-color: #423E4A;
	position: relative;
	border-left: 2px solid #333;
 
}
.nav{
    list-style:none;
	padding:0px;
	margin:0px;
}
.nav li{
	margin:0px;
	padding:0px;
	float:left;
	position:relative;
	box-shadow: 2px 2px 4px 1px #000;	
}


.pulse {
  -webkit-animation: pulse infinite alternate linear 0.5s;
  -moz-animation: pulse infinite alternate linear 0.5s;
  -o-animation: pulse infinite alternate linear 0.5s;
  -ms-animation: pulse infinite alternate linear 0.5s;
  animation: pulse infinite alternate linear 0.5s;
}
.flip-left-bounce {
	-webkit-animation: flipLeftBounce 1s ease-in-out;
	-moz-animation: flipLeftBounce 1s ease-in-out;
	-ms-animation: flipLeftBounce 1s ease-in-out;
	-o-animation: flipLeftBounce 1s ease-in-out;
	animation: flipLeftBounce 1s ease-in-out;
}

	.move {
-webkit-animation: anim2 ease-in-out 3s infinite alternate; 
}
@-webkit-keyframes anim2
{
   from {left: 0px;   -webkit-transform: scale(1.0) rotate(0deg)   }
   50%  {left: 250px; -webkit-transform: scale(0.8) rotate(10deg)  }
   to   {left: 500px; -webkit-transform: scale(1.2) rotate(-20deg) }
}



@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.05);
  }
}

@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
  }

  100% {
    -moz-transform: scale(1.05);
  }
}

@-ms-keyframes pulse {
  0% {
    -ms-transform: scale(1);
  }

  100% {
    -ms-transform: scale(1.05);
  }
}

@-o-keyframes pulse {
  0% {
    -o-transform: scale(1);
  }

  100% {
    -o-transform: scale(1.05);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.05);
  }
}



/* FLIP RIGHT BOUNCE */
@-webkit-keyframes flipRightBounce {
	0% {
		opacity: 0; -webkit-transform:rotateY(-70deg);
	}50%{
		opacity: 1; -webkit-transform:rotateY(5deg);
	}80% { -webkit-transform:rotateY(-20deg);}
	100%{-webkit-transform:rotateY(0deg);}
}@-moz-keyframes flipRightBounce {
	0% {
		opacity: 0; -moz-transform:rotateY(-70deg);
	}50%{
		opacity: 1; -moz-transform:rotateY(5deg);
	}80% { -moz-transform:rotateY(-20deg);}
	100%{-moz-transform:rotateY(0deg);}
}@-ms-keyframes flipRightBounce {
	0% {
		opacity: 0; -ms-transform:rotateY(-70deg);
	}50%{
		opacity: 1; -ms-transform:rotateY(5deg);
	}80% { -ms-transform:rotateY(-20deg);}
	100%{-ms-transform:rotateY(0deg);}
}@-o-keyframes flipRightBounce {
	0% {
		opacity: 0; -o-transform:rotateY(-70deg);
	}50%{
		opacity: 1; -o-transform:rotateY(5deg);
	}80% { -o-transform:rotateY(-20deg);}
	100%{-o-transform:rotateY(0deg);}
}@keyframes flipRightBounce {
	0% {
		opacity: 0;transform:rotateY(-70deg);
	}50%{
		opacity: 1;transform:rotateY(5deg);
	}80% {transform:rotateY(-20deg);}
	100% {transform:rotateY(0deg);}
}


/* FLIP LEFT BOUNCE */
@-webkit-keyframes flipLeftBounce {
	0% {
		opacity: 0; -webkit-transform:rotateY(70deg);
	}50%{
		opacity: 1; -webkit-transform:rotateY(-5deg);
	}80% { -webkit-transform:rotateY(20deg);}
	100%{-webkit-transform:rotateY(0deg);}
}@-moz-keyframes flipLeftBounce {
	0% {
		opacity: 0; -moz-transform:rotateY(70deg);
	}50%{
		opacity: 1; -moz-transform:rotateY(-5deg);
	}80% { -moz-transform:rotateY(20deg);}
	100%{-moz-transform:rotateY(0deg);}
}@-ms-keyframes flipLeftBounce {
	0% {
		opacity: 0; -ms-transform:rotateY(70deg);
	}50%{
		opacity: 1; -ms-transform:rotateY(-5deg);
	}80% { -ms-transform:rotateY(20deg);}
	100%{-ms-transform:rotateY(0deg);}
}@-o-keyframes flipLeftBounce {
	0% {
		opacity: 0; -o-transform:rotateY(70deg);
	}50%{
		opacity: 1; -o-transform:rotateY(-5deg);
	}80% { -o-transform:rotateY(20deg);}
	100%{-o-transform:rotateY(0deg);}
}@keyframes flipLeftBounce {
	0% {
		opacity: 0;transform:rotateY(70deg);
	}50%{
		opacity: 1;transform:rotateY(-5deg);
	}80% {transform:rotateY(20deg);}
	100% {transform:rotateY(0deg);}
}

/* JAMP */
@-webkit-keyframes jamp {
	0% {
		-webkit-transform:translateY(0);
	}10%{
		-webkit-transform:translateY(-50px);
	}25%{
		-webkit-transform:translateY(-50px) scale(1.1);
	}35%{
		-webkit-transform:translateY(-50px) scale(1);
	}45%{
		-webkit-transform:translateY(-50px) scale(1.2);
	}55%{
		-webkit-transform:translateY(-50px) scale(1);
	}65%{
		-webkit-transform:translate(150px,-50px) scale(0.8);
	}85%{
		-webkit-transform:translate(150px,-50px) scale(1.2);
	}95%{
		-webkit-transform:translate(0,0px) scale(1);
	}100%{
		-webkit-transform:translate(0,0);

	}
}
@-moz-keyframes jamp {
	0% {
		-moz-transform:translateY(0);
	}10%{
		-moz-transform:translateY(-50px);
	}25%{
		-moz-transform:translateY(-50px) scale(1.1);
	}35%{
		-moz-transform:translateY(-50px) scale(1);
	}45%{
		-moz-transform:translateY(-50px) scale(1.2);
	}55%{
		-moz-transform:translateY(-50px) scale(1);
	}65%{
		-moz-transform:translate(150px,-50px) scale(0.8);
	}85%{
		-moz-transform:translate(150px,-50px) scale(1.2);
	}95%{
		-moz-transform:translate(0,0px) scale(1);
	}100%{
		-moz-transform:translate(0,0);

	}
}
@-ms-keyframes jamp {
	0% {
		-ms-transform:translateY(0);
	}10%{
		-ms-transform:translateY(-50px);
	}25%{
		-ms-transform:translateY(-50px) scale(1.1);
	}35%{
		-ms-transform:translateY(-50px) scale(1);
	}45%{
		-ms-transform:translateY(-50px) scale(1.2);
	}55%{
		-ms-transform:translateY(-50px) scale(1);
	}65%{
		-ms-transform:translate(150px,-50px) scale(0.8);
	}85%{
		-ms-transform:translate(150px,-50px) scale(1.2);
	}95%{
		-ms-transform:translate(0,0px) scale(1);
	}100%{
		-ms-transform:translate(0,0);

	}
}
@-o-keyframes jamp {
	0% {
		-o-transform:translateY(0);
	}10%{
		-o-transform:translateY(-50px);
	}25%{
		-o-transform:translateY(-50px) scale(1.1);
	}35%{
		-o-transform:translateY(-50px) scale(1);
	}45%{
		-o-transform:translateY(-50px) scale(1.2);
	}55%{
		-o-transform:translateY(-50px) scale(1);
	}65%{
		-o-transform:translate(150px,-50px) scale(0.8);
	}85%{
		-o-transform:translate(150px,-50px) scale(1.2);
	}95%{
		-o-transform:translate(0,0px) scale(1);
	}100%{
		-o-transform:translate(0,0);

	}
}
@keyframes jamp {
	0% {
		transform:translateY(0);
	}10%{
		transform:translateY(-50px);
	}25%{
		transform:translateY(-50px) scale(1.1);
	}35%{
		transform:translateY(-50px) scale(1);
	}45%{
		transform:translateY(-50px) scale(1.2);
	}55%{
		transform:translateY(-50px) scale(1);
	}65%{
		transform:translate(150px,-50px) scale(0.8);
	}85%{
		transform:translate(150px,-50px) scale(1.2);
	}95%{
		transform:translate(0,0px) scale(1);
	}100%{
		transform:translate(0,0);

	}
}


/* SCALE BOUNCE */
@-webkit-keyframes scaleBounce {
	0% {
		-webkit-transform:scale(1.5);  opacity: 0;
	}50%{
		-webkit-transform:scale(1); 
	}70%{
		-webkit-transform:scale(1.1); 
	}100%{opacity: 1;-webkit-transform:scale(1);}
}
@-moz-keyframes scaleBounce {
	0% {
		-moz-transform:scale(1.5);  opacity: 0;
	}50%{
		-moz-transform:scale(1); 
	}70%{
		-moz-transform:scale(1.1); 
	}100%{opacity: 1;-moz-transform:scale(1);}
}
@-o-keyframes scaleBounce {
	0% {
		-o-transform:scale(1.5);  opacity: 0;
	}50%{
		-o-transform:scale(1); 
	}70%{
		-o-transform:scale(1.1); 
	}100%{opacity: 1;-o-transform:scale(1);}
}
@-ms-keyframes scaleBounce {
	0% {
		-ms-transform:scale(1.5);  opacity: 0;
	}50%{
		-ms-transform:scale(1); 
	}70%{
		-ms-transform:scale(1.1); 
	}100%{opacity: 1;-ms-transform:scale(1);}
}
@keyframes scaleBounce {
	0% {
		transform:scale(1.5);  opacity: 0;
	}50%{
		transform:scale(1); 
	}70%{
		transform:scale(1.1); 
	}100%{opacity: 1;transform:scale(1);}
}

/* ENTER RIGHT BOUNCE */
@-webkit-keyframes enterRightBounce {
	0% {
		-webkit-transform:translateX(220px);  opacity: 0;
	}50%{
		-webkit-transform:translateX(0px); 
	}70%{-webkit-transform:translateX(8px); }
	
	100%{
		-webkit-transform:translateX(0);  opacity: 1;
	}
}
@-moz-keyframes enterRightBounce {
	0% {
		-moz-transform:translateX(220px);  opacity: 0;
	}50%{
		-moz-transform:translateX(0px); 
	}70%{-moz-transform:translateX(8px); }
	
	100%{
		-moz-transform:translateX(0);  opacity: 1;
	}
}
@-o-keyframes enterRightBounce {
	0% {
		-o-transform:translateX(220px);  opacity: 0;
	}50%{
		-o-transform:translateX(0px); 
	}70%{-o-transform:translateX(8px); }
	
	100%{
		-o-transform:translateX(0);  opacity: 1;
	}
}
@-ms-keyframes enterRightBounce {
	0% {
		-ms-transform:translateX(220px);  opacity: 0;
	}50%{
		-ms-transform:translateX(0px); 
	}70%{-ms-transform:translateX(8px); }
	
	100%{
		-ms-transform:translateX(0);  opacity: 1;
	}
}
@keyframes enterRightBounce {
	0% {
		transform:translateX(220px);  opacity: 0;
	}50%{
		transform:translateX(0px); 
	}70%{transform:translateX(8px); }
	
	100%{
		transform:translateX(0);  opacity: 1;
	}
}

/* ENTER LEFT BOUNCE */
@-webkit-keyframes enterLeftBounce {
	0% {
		-webkit-transform:translateX(-220px);  opacity: 0;
	}50%{
		-webkit-transform:translateX(0px); 
	}70%{-webkit-transform:translateX(-8px); }
	
	100%{
		-webkit-transform:translateX(0);  opacity: 1;
	}
}
@-moz-keyframes enterLeftBounce {
	0% {
		-moz-transform:translateX(-220px);  opacity: 0;
	}50%{
		-moz-transform:translateX(0px); 
	}70%{-moz-transform:translateX(-8px); }
	
	100%{
		-moz-transform:translateX(0);  opacity: 1;
	}
}
@-o-keyframes enterLeftBounce {
	0% {
		-o-transform:translateX(-220px);  opacity: 0;
	}50%{
		-o-transform:translateX(0px); 
	}70%{-o-transform:translateX(-8px); }
	
	100%{
		-o-transform:translateX(0);  opacity: 1;
	}
}
@-ms-keyframes enterLeftBounce {
	0% {
		-ms-transform:translateX(-220px);  opacity: 0;
	}50%{
		-ms-transform:translateX(0px); 
	}70%{-ms-transform:translateX(-8px); }
	
	100%{
		-ms-transform:translateX(0);  opacity: 1;
	}
}
@keyframes enterLeftBounce {
	0% {
		transform:translateX(-220px);  opacity: 0;
	}50%{
		transform:translateX(0px); 
	}70%{transform:translateX(-8px); }
	
	100%{
		transform:translateX(0);  opacity: 1;
	}
}

/* ENTER UP BOUNCE */
@-webkit-keyframes enterUpBounce {
	0% {
		-webkit-transform:translateY(220px);  opacity: 0;
	}50%{
		-webkit-transform:translateY(0px); 
	}70%{-webkit-transform:translateY(20px); }
	
	100%{
		-webkit-transform:translateY(0);  opacity: 1;
	}
}
@-moz-keyframes enterUpBounce {
	0% {
		-moz-transform:translateY(220px);  opacity: 0;
	}50%{
		-moz-transform:translateY(0px); 
	}70%{-moz-transform:translateY(20px); }
	
	100%{
		-moz-transform:translateY(0);  opacity: 1;
	}
}
@-o-keyframes enterUpBounce {
	0% {
		-o-transform:translateY(220px);  opacity: 0;
	}50%{
		-o-transform:translateY(0px); 
	}70%{-o-transform:translateY(20px); }
	
	100%{
		-o-transform:translateY(0);  opacity: 1;
	}
}
@-ms-keyframes enterUpBounce {
	0% {
		-ms-transform:translateY(220px);  opacity: 0;
	}50%{
		-ms-transform:translateY(0px); 
	}70%{-ms-transform:translateY(20px); }
	
	100%{
		-ms-transform:translateY(0);  opacity: 1;
	}
}
@keyframes enterUpBounce {
	0% {
		transform:translateY(220px);  opacity: 0;
	}50%{
		transform:translateY(0px); 
	}70%{transform:translateY(20px); }
	
	100%{
		transform:translateY(0);  opacity: 1;
	}
}


/* ENTER DOWN BOUNCE */
@-webkit-keyframes enterDownBounce {
	0% {
		-webkit-transform:translateY(-220px);  opacity: 0;
	}50%{
		-webkit-transform:translateY(0px); 
	}70%{-webkit-transform:translateY(-20px); }
	
	100%{
		-webkit-transform:translateY(0);  opacity: 1;
	}
}
@-moz-keyframes enterDownBounce {
	0% {
		-moz-transform:translateY(-220px);  opacity: 0;
	}50%{
		-moz-transform:translateY(0px); 
	}70%{-moz-transform:translateY(-20px); }
	
	100%{
		-moz-transform:translateY(0);  opacity: 1;
	}
}
@-ms-keyframes enterDownBounce {
	0% {
		-ms-transform:translateY(-220px);  opacity: 0;
	}50%{
		-ms-transform:translateY(0px); 
	}70%{-ms-transform:translateY(-20px); }
	
	100%{
		-ms-transform:translateY(0);  opacity: 1;
	}
}
@-o-keyframes enterDownBounce {
	0% {
		-o-transform:translateY(-220px);  opacity: 0;
	}50%{
		-o-transform:translateY(0px); 
	}70%{-o-transform:translateY(-20px); }
	
	100%{
		-o-transform:translateY(0);  opacity: 1;
	}
}
@keyframes enterDownBounce {
	0% {
		transform:translateY(-220px);  opacity: 0;
	}50%{
		transform:translateY(0px); 
	}70%{transform:translateY(-20px); }
	
	100%{
		transform:translateY(0);  opacity: 1;
	}
}

/* ROTATE DOWN */
@-webkit-keyframes pulseSlow {
	0% {
		-webkit-transform:scale(1);  opacity: 1;
	}100%{
		-webkit-transform:scale(0.85);  opacity: 0.5;
	}
}@-moz-keyframes pulseSlow {
	0% {
		-moz-transform:scale(1);  opacity: 1;
	}100%{
		-moz-transform:scale(0.85);  opacity: 0.5;
	}
}@-ms-keyframes pulseSlow {
	0% {
		-ms-transform:scale(1);  opacity: 1;
	}100%{
		-ms-transform:scale(0.85);  opacity: 0.5;
	}
}@-o-keyframes pulseSlow {
	0% {
		-o-transform:scale(1);  opacity: 1;
	}100%{
		-o-transform:scale(0.85);  opacity: 0.5;
	}
}@keyframes pulseSlow {
	0% {
		transform:scale(1);  opacity: 1;
	}100%{
		transform:scale(0.85);  opacity: 0.5;
	}
}

/* ROTATE DOWN */
@-webkit-keyframes rotateOut {
	0% {
		opacity: 1;	
	}50%,100%{
		-webkit-transform:scale(0) rotateY(189deg);
	}
}@-moz-keyframes rotateOut {
	0% {
		opacity: 1;	
	}50%,100%{
		-moz-transform:scale(0) rotateY(189deg);
	}
}@-ms-keyframes rotateOut {
	0% {
		opacity: 1;	
	}50%,100%{
		-ms-transform:scale(0) rotateY(189deg);
	}
}@-o-keyframes rotateOut {
	0% {
		opacity: 1;	
	}50%,100%{
		-o-transform:scale(0) rotateY(189deg);
	}
}@keyframes rotateOut {
	0% {
		opacity: 1;	
	}50%,100%{
		transform:scale(0) rotateY(189deg);
	}
}

/* TREE FLIP DOWN */
@-webkit-keyframes treeFlipDown {
	0% {-webkit-transform: rotateX(0);}
	100%{-webkit-transform: rotateX(-62deg);}
}
@-moz-keyframes treeFlipDown {
	0% {-moz-transform: rotateX(0);}
	100%{-moz-transform: rotateX(-62deg);}
}
@-ms-keyframes treeFlipDown {
	0% {-ms-transform: rotateX(0);}
	100%{-ms-transform: rotateX(-62deg);}
}
@-o-keyframes treeFlipDown {
	0% {-o-transform: rotateX(0);}
	100%{-o-transform: rotateX(-62deg);}
}
@keyframes treeFlipDown {
	0% {transform: rotateX(0);}
	100%{transform: rotateX(-62deg);}
}

/* TREE FLIP UP */
@-webkit-keyframes treeFlipUp {
	0% {-webkit-transform: rotateX(0);}
	100%{-webkit-transform: rotateX(110deg);}
}
@-moz-keyframes treeFlipUp {
	0% {-moz-transform: rotateX(0);}
	100%{-moz-transform: rotateX(110deg);}
}
@-ms-keyframes treeFlipUp {
	0% {-ms-transform: rotateX(0);}
	100%{-ms-transform: rotateX(110deg);}
}
@-o-keyframes treeFlipUp {
	0% {-o-transform: rotateX(0);}
	100%{-o-transform: rotateX(110deg);}
}
@keyframes treeFlipUp {
	0% {transform: rotateX(0);}
	100%{transform: rotateX(110deg);}
}

/* TREE FLIP RIGHT */
@-webkit-keyframes treeFlipRight {
	0% {-webkit-transform: rotateY(0);}
	100%{-webkit-transform: rotateY(90deg);}
}
@-moz-keyframes treeFlipRight {
	0% {-moz-transform: rotateY(0);}
	100%{-moz-transform: rotateY(90deg);}
}
@-ms-keyframes treeFlipRight {
	0% {-ms-transform: rotateY(0);}
	100%{-ms-transform: rotateY(90deg);}
}
@-o-keyframes treeFlipRight {
	0% {-o-transform: rotateY(0);}
	100%{-o-transform: rotateY(90deg);}
}
@keyframes treeFlipRight {
	0% {transform: rotateY(0);}
	100%{transform: rotateY(90deg);}
}

/* TREE FLIP */
@-webkit-keyframes treeFlip {
	0% {-webkit-transform: rotateY(0);}
	100%{-webkit-transform: rotateY(-90deg);}
}
@-moz-keyframes treeFlip {
	0% {-moz-transform: rotateY(0);}
	100%{-moz-transform: rotateY(-90deg);}
}
@-ms-keyframes treeFlip {
	0% {-ms-transform: rotateY(0);}
	100%{-ms-transform: rotateY(-90deg);}
}
@-o-keyframes treeFlip {
	0% {-o-transform: rotateY(0);}
	100%{-o-transform: rotateY(-90deg);}
}
@keyframes treeFlip {
	0% {transform: rotateY(0);}
	100%{transform: rotateY(-90deg);}
}


/* JUMP BOUNCE */
@-webkit-keyframes jumpBounce {
	10% {-webkit-transform:translateY(-150px);}
	20%,35%,50% {-webkit-transform:translateY(0px);}
	25% {-webkit-transform:translateY(-60px);}
	40% {-webkit-transform:translateY(-40px);}
	
}
@-moz-keyframes jumpBounce {
	10% {-moz-transform:translateY(-150px);}
	20%,35%,50% {-moz-transform:translateY(0px);}
	25% {-moz-transform:translateY(-60px);}
	40% {-moz-transform:translateY(-40px);}
	
}
@-ms-keyframes jumpBounce {
	10% {-ms-transform:translateY(-150px);}
	20%,35%,50% {-ms-transform:translateY(0px);}
	25% {-ms-transform:translateY(-60px);}
	40% {-ms-transform:translateY(-40px);}
	
}
@-o-keyframes jumpBounce {
	10% {-o-transform:translateY(-150px);}
	20%,35%,50% {-o-transform:translateY(0px);}
	25% {-o-transform:translateY(-60px);}
	40% {-o-transform:translateY(-40px);}
	
}
@keyframes jumpBounce {
	10% {transform:translateY(-150px);}
	20%,35%,50% {transform:translateY(0px);}
	25% {transform:translateY(-60px);}
	40% {transform:translateY(-40px);}
	
}

/* FOUR ROCK */
@-webkit-keyframes fourRock {
	0% {-webkit-transform-origin: 0 0;}
	5%{-webkit-transform: scale(0.5);}
	10% {-webkit-transform: scale(0.5)}
	15% {-webkit-transform: scale(0.5) translateX(130px);}
	20% {-webkit-transform: scale(0.5) translateX(130px);}
	25% {-webkit-transform: scale(0.5) translate(130px,130px);}
	30% {-webkit-transform: scale(0.5) translate(0px,130px);}
	35% {-webkit-transform: scale(0.5) translate(0px,0px);}
	40% {-webkit-transform: scale(1);}
	100%{-webkit-transform: scale(1);-webkit-transform-origin: 0 0;}
	
}
@-moz-keyframes fourRock {
	0% {-moz-transform-origin: 0 0;}
	5%{-moz-transform: scale(0.5);}
	10% {-moz-transform: scale(0.5)}
	15% {-moz-transform: scale(0.5) translateX(130px);}
	20% {-moz-transform: scale(0.5) translateX(130px);}
	25% {-moz-transform: scale(0.5) translate(130px,130px);}
	30% {-moz-transform: scale(0.5) translate(0px,130px);}
	35% {-moz-transform: scale(0.5) translate(0px,0px);}
	40% {-moz-transform: scale(1);}
	100%{-moz-transform: scale(1);-webkit-transform-origin: 0 0;}
	
}
@-ms-keyframes fourRock {
	0% {-ms-transform-origin: 0 0;}
	5%{-ms-transform: scale(0.5);}
	10% {-ms-transform: scale(0.5)}
	15% {-ms-transform: scale(0.5) translateX(130px);}
	20% {-ms-transform: scale(0.5) translateX(130px);}
	25% {-ms-transform: scale(0.5) translate(130px,130px);}
	30% {-ms-transform: scale(0.5) translate(0px,130px);}
	35% {-ms-transform: scale(0.5) translate(0px,0px);}
	40% {-ms-transform: scale(1);}
	100%{-ms-transform: scale(1);-webkit-transform-origin: 0 0;}
	
}
@-o-keyframes fourRock {
	0% {-o-transform-origin: 0 0;}
	5%{-o-transform: scale(0.5);}
	10% {-o-transform: scale(0.5)}
	15% {-o-transform: scale(0.5) translateX(130px);}
	20% {-o-transform: scale(0.5) translateX(130px);}
	25% {-o-transform: scale(0.5) translate(130px,130px);}
	30% {-o-transform: scale(0.5) translate(0px,130px);}
	35% {-o-transform: scale(0.5) translate(0px,0px);}
	40% {-o-transform: scale(1);}
	100%{-o-transform: scale(1);-webkit-transform-origin: 0 0;}
	
}
@keyframes fourRock {
	0% {transform-origin: 0 0;}
	5%{transform: scale(0.5);}
	10% {transform: scale(0.5)}
	15% {transform: scale(0.5) translateX(130px);}
	20% {transform: scale(0.5) translateX(130px);}
	25% {transform: scale(0.5) translate(130px,130px);}
	30% {transform: scale(0.5) translate(0px,130px);}
	35% {transform: scale(0.5) translate(0px,0px);}
	40% {transform: scale(1);}
	100%{transform: scale(1);-webkit-transform-origin: 0 0;}
	
}


/* BOMBA */
@-webkit-keyframes bomba {
	0% {-webkit-transform-origin: -50% 0%;-webkit-transform: rotateZ(0); opacity: 1;}
	50%,100%{-webkit-transform: rotateZ(-210deg);-webkit-transform-origin: -20% 0%; }
	47%,100%{opacity: 0;}
}
@-moz-keyframes bomba {
	0% {-moz-transform-origin: -20% 0%;-moz-transform: rotateZ(0); opacity: 1;}
	50%,100%{-moz-transform: rotateZ(-210deg);-moz-transform-origin: -20% 0%;}
}
@-ms-keyframes bomba {
	0% {-ms-transform-origin: -20% 0%;-ms-transform: rotateZ(0); opacity: 1;}
	50%,100%{-ms-transform: rotateZ(-210deg);-ms-transform-origin: -20% 0%;}
}
@-o-keyframes bomba {
	0% {-o-transform-origin: -20% 0%;-o-transform: rotateZ(0); opacity: 1;}
	50%,100%{-o-transform: rotateZ(-210deg);-o-transform-origin: -20% 0%;}
}
@keyframes bomba {
	0% {transform-origin: -20% 0%;transform: rotateZ(0); opacity: 1;}
	50%,100%{transform: rotateZ(-210deg);transform-origin: -20% 0%;}
}

/* ROTATE FLIP */
@-webkit-keyframes rotateFlipDown {
	0% {-webkit-transform-origin: 50%;}
	40%{-webkit-transform: rotateX(70deg); opacity: 0;}
	60%{-webkit-transform: rotateX(70deg); opacity: 0;}
	100%{-webkit-transform: rotateX(0deg);opacity: 1;}
}
@-moz-keyframes rotateFlipDown {
	0% {-moz-transform-origin: 50%;}
	40%{-moz-transform: rotateX(70deg); opacity: 0;}
	60%{-moz-transform: rotateX(70deg); opacity: 0;}
	100%{-moz-transform: rotateX(0deg);opacity: 1;}
}
@-ms-keyframes rotateFlipDown {
	0% {-ms-transform-origin: 50%;}
	40%{-ms-transform: rotateX(70deg); opacity: 0;}
	60%{-ms-transform: rotateX(70deg); opacity: 0;}
	100%{-ms-transform: rotateX(0deg);opacity: 1;}
}
@-o-keyframes rotateFlipDown {
	0% {-o-transform-origin: 50%;}
	40%{-o-transform: rotateX(70deg); opacity: 0;}
	60%{-o-transform: rotateX(70deg); opacity: 0;}
	100%{-o-transform: rotateX(0deg);opacity: 1;}
}
@keyframes rotateFlipDown {
	0% {transform-origin: 50%;}
	40%{transform: rotateX(70deg); opacity: 0;}
	60%{transform: rotateX(70deg); opacity: 0;}
	100%{transform: rotateX(0deg);opacity: 1;}
}


/* ROTATE FLIP */
@-webkit-keyframes rotateFlip {
	0% {-webkit-transform-origin: 50%;}
	40%{-webkit-transform: rotateY(70deg); opacity: 0;}
	60%{-webkit-transform: rotateY(70deg); opacity: 0;}
	100%{-webkit-transform: rotateY(0deg);opacity: 1;}
}
@-moz-keyframes rotateFlip {
	0% {-moz-transform-origin: 50%;}
	40%{-moz-transform: rotateY(70deg); opacity: 0;}
	60%{-moz-transform: rotateY(70deg); opacity: 0;}
	100%{-moz-transform: rotateY(0deg);opacity: 1;}
}
@-ms-keyframes rotateFlip {
	0% {-ms-transform-origin: 50%;}
	40%{-ms-transform: rotateY(70deg); opacity: 0;}
	60%{-ms-transform: rotateY(70deg); opacity: 0;}
	100%{-ms-transform: rotateY(0deg);opacity: 1;}
}
@-o-keyframes rotateFlip {
	0% {-o-transform-origin: 50%;}
	40%{-o-transform: rotateY(70deg); opacity: 0;}
	60%{-o-transform: rotateY(70deg); opacity: 0;}
	100%{-o-transform: rotateY(0deg);opacity: 1;}
}
@keyframes rotateFlip {
	0% {transform-origin: 50%;}
	40%{transform: rotateY(70deg); opacity: 0;}
	60%{transform: rotateY(70deg); opacity: 0;}
	100%{transform: rotateY(0deg);opacity: 1;}
}

/* FLIP BOTTOM */
@-webkit-keyframes flipBottom {
	0%{-webkit-transform: translateY(100px);opacity: 0;}
	70%{-webkit-transform: translateY(0);opacity: 1;}
}
@-moz-keyframes flipBottom {
	0%{-moz-transform: translateY(100px);opacity: 0;}
	70%{-moz-transform: translateY(0);opacity: 1;}
}
@-ms-keyframes flipBottom {
	0%{-ms-transform: translateY(100px);opacity: 0;}
	70%{-ms-transform: translateY(0);opacity: 1;}
}
@-o-keyframes flipBottom {
	0%{-o-transform: translateY(100px);opacity: 0;}
	70%{-o-transform: translateY(0);opacity: 1;}
}
@keyframes flipBottom {
	0%{transform: translateY(100px);opacity: 0;}
	70%{transform: translateY(0);opacity: 1;}
}


/* FLIP RIGHT */
@-webkit-keyframes flipRight {
	0%{-webkit-transform: translateX(100px);opacity: 0;}
	70%{-webkit-transform: translateX(0);opacity: 1;}
}
@-moz-keyframes flipRight {
	0%{-moz-transform: translateX(100px);opacity: 0;}
	70%{-moz-transform: translateX(0);opacity: 1;}
}
@-ms-keyframes flipRight {
	0%{-ms-transform: translateX(100px);opacity: 0;}
	70%{-ms-transform: translateX(0);opacity: 1;}
}
@-o-keyframes flipRight {
	0%{-o-transform: translateX(100px);opacity: 0;}
	70%{-o-transform: translateX(0);opacity: 1;}
}
@keyframes flipRight {
	0%{transform: translateX(100px);opacity: 0;}
	70%{transform: translateX(0);opacity: 1;}
}

/* FLIP TOP */
@-webkit-keyframes flipTop {
	0%{-webkit-transform: translateY(-100px);opacity: 0;}
	70%{-webkit-transform: translateY(0);opacity: 1;}
}
@-moz-keyframes flipTop {
	0%{-moz-transform: translateY(-100px);opacity: 0;}
	70%{-moz-transform: translateY(0);opacity: 1;}
}
@-ms-keyframes flipTop {
	0%{-ms-transform: translateY(-100px);opacity: 0;}
	70%{-ms-transform: translateY(0);opacity: 1;}
}
@-o-keyframes flipTop {
	0%{-o-transform: translateY(-100px);opacity: 0;}
	70%{-o-transform: translateY(0);opacity: 1;}
}
@keyframes flipTop {
	0%{transform: translateY(-100px);opacity: 0;}
	70%{transform: translateY(0);opacity: 1;}
}

/* FLIP LEFT */
@-webkit-keyframes flipLeft {
	0%{-webkit-transform: translateX(-100px);opacity: 0;}
	70%{-webkit-transform: translateX(0);opacity: 1;}
}
@-moz-keyframes flipLeft {
	0%{-moz-transform: translateX(-100px);opacity: 0;}
	70%{-moz-transform: translateX(0);opacity: 1;}
}
@-ms-keyframes flipLeft {
	0%{-ms-transform: translateX(-100px);opacity: 0;}
	70%{-ms-transform: translateX(0);opacity: 1;}
}
@-o-keyframes flipLeft {
	0%{-o-transform: translateX(-100px);opacity: 0;}
	70%{-o-transform: translateX(0);opacity: 1;}
}
@keyframes flipLeft {
	0%{transform: translateX(-100px);opacity: 0;}
	70%{transform: translateX(0);opacity: 1;}
}

/* JOURNAL */
@-webkit-keyframes journal {
	0%{-webkit-transform: scale(0) rotate(-360deg);}
	80% {-webkit-transform: scale(0.5) rotate(-180deg);}
	100% {-webkit-transform: scale(1) rotate(0);}
}
@-moz-keyframes journal {
	0%{-moz-transform: scale(0) rotate(-360deg);}
	80% {-moz-transform: scale(0.5) rotate(-180deg);}
	100% {-moz-transform: scale(1) rotate(0);}
}
@-ms-keyframes journal {
	0%{-ms-transform: scale(0) rotate(-360deg);}
	80% {-ms-transform: scale(0.5) rotate(-180deg);}
	100% {-ms-transform: scale(1) rotate(0);}
}
@-o-keyframes journal {
	0%{-o-transform: scale(0) rotate(-360deg);}
	80% {-o-transform: scale(0.5) rotate(-180deg);}
	100% {-o-transform: scale(1) rotate(0);}
}@keyframes journal {
	0%{transform: scale(0) rotate(-360deg);}
	80% {transform: scale(0.5) rotate(-180deg);}
	100% {transform: scale(1) rotate(0);}
}

/* DANCE */
@-webkit-keyframes dance {
	0%,10%,20%{-webkit-transform:rotateZ(10deg);}
	5%,15%,25%{-webkit-transform:rotateZ(-10deg)}
	35%,60%,100%{-webkit-transform:scale(1) rotateZ(0deg); box-shadow:inset 0 0 0 0 transparent;}
	40% {-webkit-transform:scale(1.3); box-shadow:inset 0 0 0 0; box-shadow:inset 0 0 0 2px rgba(0,0,0,0.1);}
}
@-moz-keyframes dance {
	0%,10%,20%{-moz-transform:rotateZ(10deg);}
	5%,15%,25%{-moz-transform:rotateZ(-10deg)}
	35%,60%,100%{-moz-transform:scale(1) rotateZ(0deg); box-shadow:inset 0 0 0 0 transparent;}
	40% {-moz-transform:scale(1.3); box-shadow:inset 0 0 0 0; box-shadow:inset 0 0 0 2px rgba(0,0,0,0.1);}
}
@-ms-keyframes dance {
	0%,10%,20%{-ms-transform:rotateZ(10deg);}
	5%,15%,25%{-ms-transform:rotateZ(-10deg)}
	35%,60%,100%{-ms-transform:scale(1) rotateZ(0deg); box-shadow:inset 0 0 0 0 transparent;}
	40% {-ms-transform:scale(1.3); box-shadow:inset 0 0 0 0; box-shadow:inset 0 0 0 2px rgba(0,0,0,0.1);}
}
@-o-keyframes dance {
	0%,10%,20%{-o-transform:rotateZ(10deg);}
	5%,15%,25%{-o-transform:rotateZ(-10deg)}
	35%,60%,100%{-o-transform:scale(1) rotateZ(0deg); box-shadow:inset 0 0 0 0 transparent;}
	40% {-o-transform:scale(1.3); box-shadow:inset 0 0 0 0; box-shadow:inset 0 0 0 2px rgba(0,0,0,0.1);}
}
@keyframes dance {
	0%,10%,20%{transform:rotateZ(10deg);}
	5%,15%,25%{transform:rotateZ(-10deg)}
	35%,60%,100%{transform:scale(1) rotateZ(0deg); box-shadow:inset 0 0 0 0 transparent;}
	40% {transform:scale(1.3); box-shadow:inset 0 0 0 0; box-shadow:inset 0 0 0 2px rgba(0,0,0,0.1);}
}

/* FLASH BANG */
@-webkit-keyframes flashBang {
	0%,20%{opacity: 0;}
	10%,30%,100%{opacity: 1;}
}
@-moz-keyframes flashBang {
	0%,20%{opacity: 0;}
	10%,30%,100%{opacity: 1;}
}
@-ms-keyframes flashBang {
	0%,20%{opacity: 0;}
	10%,30%,100%{opacity: 1;}
}
@-o-keyframes flashBang {
	0%,20%{opacity: 0;}
	10%,30%,100%{opacity: 1;}
}
@keyframes flashBang {
	0%,20%{opacity: 0;}
	10%,30%,100%{opacity: 1;}
}

/* ROTATE DOW BOUNCE */
@-webkit-keyframes rotateDowBounce {
	0%{-webkit-transform: rotate(0deg); opacity: 1;}
	20%{-webkit-transform: rotate(25deg); }
	40%{-webkit-transform:rotate(30deg);}
	10%,30%,50%{-webkit-transform: rotate(40deg); opacity: 1;filter:alpha(opacity=100);}
	80%,100%{-webkit-transform: rotate(30deg) translateY(310px) translateX(230px);opacity: 0;filter:alpha(opacity=0);}
}

@-moz-keyframes rotateDowBounce {
	0%{-moz-transform: rotate(0deg); opacity: 1;}
	20%{-moz-transform: rotate(25deg); }
	40%{-moz-transform:rotate(30deg);}
	10%,30%,50%{-moz-transform: rotate(40deg); opacity: 1;filter:alpha(opacity=100);}
	80%,100%{-moz-transform: rotate(30deg) translateY(310px) translateX(230px);opacity: 0;filter:alpha(opacity=0);}
}

@-ms-keyframes rotateDowBounce {
	0%{-ms-transform: rotate(0deg); opacity: 1;}
	20%{-ms-transform: rotate(25deg); }
	40%{-ms-transform:rotate(30deg);}
	10%,30%,50%{-ms-transform: rotate(40deg); opacity: 1;filter:alpha(opacity=100);}
	80%,100%{-ms-transform: rotate(30deg) translateY(310px) translateX(230px);opacity: 0;filter:alpha(opacity=0);}
}

@-o-keyframes rotateDowBounce {
	0%{-o-transform: rotate(0deg); opacity: 1;}
	20%{-o-transform: rotate(25deg); }
	40%{-o-transform:rotate(30deg);}
	10%,30%,50%{-o-transform: rotate(40deg); opacity: 1;filter:alpha(opacity=100);}
	80%,100%{-o-transform: rotate(30deg) translateY(310px) translateX(230px);opacity: 0;filter:alpha(opacity=0);}
}
@keyframes rotateDowBounce {
	0%{transform: rotate(0deg); opacity: 1;}
	20%{transform: rotate(25deg); }
	40%{transform:rotate(30deg);}
	10%,30%,50%{transform: rotate(40deg); opacity: 1;filter:alpha(opacity=100);}
	80%,100%{transform: rotate(30deg) translateY(310px) translateX(230px);opacity: 0;filter:alpha(opacity=0);}
}







